
<br/>
<footer class="footer">
        <div class="container">
            <div>
                <small>
                    <button type="button" class="btn btn-elegant" ng-click="ctrl.navigateTo()">MobileMidwifeEHR.com</button>
                    <button type="button" class="btn btn-elegant" ng-click="ctrl.navigateTo('Contacts')">Contacts</button>
                    <button type="button" class="btn btn-elegant" ng-click="ctrl.navigateTo('FAQ')">FAQ</button>
                </small>
            </div>    
          <div class="text-muted">
              <sub>The information displayed within this website is proprietary and confidential. Do not distribute without prior consent.
               </sub>
          </div>
        </div>
        <div class="footer-copyright py-2 text-center">
            <div class="container-fluid">
                <sub>Copyright © 2018 All Rights Reserved.</sub>
            </div>
        </div>
</footer>
  